#assignment{
    position: relative;
    background: #F3FFF1;
    height: 100vh;
}
#assignment_header{
    position: absolute;
    top: 8vh;
    left: 2vw;
}
.container{
    position: absolute;
    right: 8vh;
    bottom: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
}
.container .btn {
    height: 50px;
    margin: 20px;
    margin-bottom: 40px;
    position: relative;
    width: 155px;
}

.container .btn a {
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    color: #000000;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: 0.5s;
    border-color: #0f1923;
}

.container .btn:hover a {
    letter-spacing: 2px;
}

.container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,
    rgba(255,255,255,0.15),
    transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.container .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

.container .btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px;
    background: rgb(8, 107, 183);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.container .btn:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    height: 10px;
    width: 30px;
    background: rgb(7, 95, 189);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.container .btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn:nth-child(1):before,
.container .btn:nth-child(1)::after {
    background: #2bd2ff;
    box-shadow: 0 0 5px #2bd2ff,
    0 0 15px #2bd2ff,
    0 0 30px #2bd2ff,
    0 0 60px #2bd2ff;
}

.container .btn:active a {
    color: #000;
}
.product-container {
    position: absolute;
    top: 25vh;
    left: 15vw;
}

.card {
    font-family: Lato, sans-serif;
    position: relative;
    width: 290px;
    height: 400px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;

}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-position: top;
    background-size: cover;
    clip-path: circle(150px at 80% 20%);
    transition: .5s ease-in-out;
}

.card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.title {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 12px;
}

.bg-title {
    font-size: 10em;
    font-weight: 900;
    font-style: italic;
    color: rgba(255,255,255,.04);
    position: absolute;
    max-width: 120%;
    top: -150%;
    transition: .6s;
}

.card:hover .bg-title {
    transform: translateY(60%);
}

.photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    height: 220px;
    transition: .5s;

}

.card:hover .photo {
    top: 0%;
    transform: translateY(0%);
}

.photo img {
    position: absolute;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    transition: .5s;

}

.card:hover .photo img {
    width: 260px;
    top: 56%;
}

.content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 5;
}

.card:hover .content {
    height: 190px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}

.card:hover .feature {
    visibility: visible;
    opacity: 1;
    transition-delay: .5s;
}

.feature div {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.feature span {
    min-width: 20px;
    padding: 0 4px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .4s;
    border-radius: 4px;
    cursor: pointer
}

.feature span:hover {
    color: #000;
    background: #f89b29;
}

.btn-buy {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    cursor: pointer;
    outline: none;
}

.card:hover .btn-buy {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card:hover  .btn-buy:hover{

    background-image: var(--background-image);
    background-position: top;
    background-size: cover;
    transition-delay: 0;
    transition: 0.05s;
}
.product-1 {
    --product-color: #EB6CA4;
    --background-image: url("assets/images/assignment/ezgif.com-video-to-gif.gif");
    background-position: top;
    background-size: cover;
}

.size span {
    cursor: pointer;
    z-index: 50;
}

.feature .tt:hover {
    background: #038dff;
}

.feature .ttt:hover {
    background: #09ff0d;
}