#header_navigation>dd{
    display: inline;
    margin: 1vw;
}
header{
    position: sticky;
    top: 0;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1vh;
    z-index: 99999;
}

@media all and (min-width: 1024px) {
    #menu{
        display: none;
    }
    nav > dl > dd > a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        position: relative;
        font-family: 'Oswald', sans-serif;
    }

    header > section > nav {
        position: absolute;
        right: 1%;
        top: 15%;
    }

    #header_navigation > dd > a:hover::after {
        background-color: green;
        width: 100%;
    }

    #header_navigation > dd > a:after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: transparent;
        bottom: -8px;
        left: 0;
        transition: width 0.3s ease;
    }
}
@media all and (max-width: 1000px ){
    nav{
        display: none;
    }
    #menu{
        position: absolute;
        right: 2vw;

    }

}


