
#home{
    position: relative;
    background: #F3FFF1;
    height: 100vh;
    padding-bottom: 80vh;
    overflow: visible;
}
#contact_btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: .5s ease;
}

#contact_btn:hover {
    color: #1e1e2b;
    transition-delay: .5s;
}

#contact_btn:hover::before {
    width: 100%;
}

#contact_btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: .4s ease;
    z-index: -1;
}

#contact_btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: black;
}
#home>div>h1{
    font-family: 'Aclonica', sans-serif;
    color: #302929;
}
#home>div>h1>span{
    color: #5FA853;
}
#home>div>div>h3{
    font-family: 'Bellefair', serif;
    color: #837634;
}
#home>div>h2{
    font-family: 'Akaya Kanadaka', cursive;
    color: #686B68;
}

#contact_btn {
    font-size: 17px;
    background: transparent;
    padding: 1em 1.5em;
    color: burlywood;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
    border: 1px solid sandybrown ;
    border-radius: 15px;
}


@media all and (min-width: 1440px){

    #arrow_1 {
        position: absolute;
        top: 40vh;
        left: 5vw;
    }
    .about_brief {
        position: absolute;
        top: 43vh;
        left: 8vw;
    }

    #my_main_image {
        position: absolute;
        right: 1vw;
        top: 8vh;
    }

    #arrow_2 {
        position: absolute;
        right: 25vw;
        top: 15vh;
    }

    #contact_btn {
        font-size: 17px;

    }
    #home>div>h1{
        font-size: 43px;
    }
    #home>div>div>h3{
        font-size: 40px;
    }
    #home>div>h2{
        font-size: 42px;
    }

}
@media all and (max-width: 1440px){

    #arrow_1 {
        position: absolute;
        top: 40vh;
        left: 5vw;
    }

    .about_brief {
        position: absolute;
        top: 43vh;
        left: 8vw;
    }

    #my_main_image {
        position: relative;
        left: 50vw;
        top: 10vh;
    }

    #arrow_2 {
        position: absolute;
        right: 30vw;
        top: 13vh;
    }

    .seperated_line {
        position: absolute;
        top: 90vh;
    }
    #home>div>h1{
        font-size: 36px;
    }
    #home>div>div>h3{
        font-size: 33px;
    }
    #home>div>h2{
        font-size: 34px;
    }

}
@media all and (max-width: 1024px){

    #arrow_1 {
        position: absolute;
        top: 60vh;
        left: 5vw;
    }

    .about_brief {
        position: absolute;
        top: 63vh;
        left: 8vw;
    }

    #my_main_image {
        position: relative;
        left: 52vw;
        top: 18vh;
    }

    #arrow_2 {
        position: absolute;
        right: 28vw;
        top: 18vh;
    }

    .seperated_line {
        position: absolute;
        top: 90vh;
    }
    #home>div>h1{
        font-size: 30px;
    }
    #home>div>div>h3{
        font-size: 27px;
    }
    #home>div>h2{
        font-size: 28px;
    }
}
@media all and (max-width: 768px){
    #arrow_1 {
        position: absolute;
        top: 20vh;
        left: 20vw;
    }
    .about_brief {
        position: absolute;
        top: 25vh;
        left: 25vw;
    }

    #contact_btn {
        font-size: 13px;
    }
    #my_main_image {
        position: absolute;
        left: 12vw;
        top: 80vh;
    }
    #arrow_2 {
        position: absolute;
        left: 32vw;
        top: 80vh;
    }
    #home>div>h1{
        font-size: 25px;
    }
    #home>div>div>h3{
        font-size: 23px;
    }
    #home>div>h2{
        font-size: 24px;
    }
}
@media all and (max-width: 425px){
    #arrow_1 {
        position: absolute;
        top: 21vh;
        left: 3vw;
    }
    .about_brief {
        position: absolute;
        top: 25vh;
        left: 14vw;
    }
    #my_main_image {
        position: absolute;
        left: 4vw;
        top: 85vh;
    }
    #arrow_2 {
        position: absolute;
        left: 20vw;
        top: 85vh;
    }
    #contact_btn {
        font-size: 11px;
    }
    #home>div>h1{
        font-size: 23px;
    }
    #home>div>div>h3{
        font-size: 20px;
    }
    #home>div>h2{
        font-size: 21px;
    }
}
@media all and (max-width: 375px){
    #arrow_1 {
        position: absolute;
        top: 14vh;
        left: 4vw;
    }
    .about_brief {
        position: absolute;
        top: 18vh;
        left: 15vw;
    }
    #my_main_image {
        position: absolute;
        right: 4px;
        top: 70vh;
    }
    #arrow_2 {
        position: absolute;
        left: 20vw;
        top: 70vh;
    }
    #contact_btn {
        font-size: 10px;
    }
    #home>div>h1{
        font-size: 20px;
    }
    #home>div>div>h3{
        font-size: 18px;
    }
    #home>div>h2{
        font-size: 19px;
    }
}
@media all and (max-width: 320px){
    #arrow_1 {
        position: absolute;
        top: 14vh;
        left: 1vw;
    }
    .about_brief {
        position: absolute;
        top: 20vh;
        left: 11vw;
    }
    #my_main_image {
        position: absolute;
        left: -6vw;
        top: 70vh;
        overflow: hidden;
    }
    #arrow_2 {
        position: absolute;
        left: 18vw;
        top: 70vh;
    }
    #contact_btn {
        font-size: 9px;
    }
    #home>div>h1{
        font-size: 18px;
    }
    #home>div>div>h3{
        font-size: 16px;
    }
    #home>div>h2{
        font-size: 17px;
    }
}