#resume{
    padding-top: 0;
    position: relative;
    background: #F3FFF1;
    height: 100vh;
    padding-bottom: 100vh;

}
#resume>h3{
    position: absolute;
    top: 20vh;
    left: 45vw;

}
/*#resume_edu{*/
/*    position: absolute;*/
/*    top: 45vh;*/
/*    left: 43vw;*/
/*}*/
#degree{
    position: absolute;
    top: 35vh;
    left: 25vw;
    background: #ffffff;
    width: 20vw;
    text-align: center;
    border-radius: 20px;
}
#degree>img{
    position: relative;
    left: 10vw;
    top: 7vh;
}
#diploma{
    position: absolute;
    top: 68vh;
    left: 60vw;
    background: #ffffff;
    width: 23vw;
    text-align: center;
    border-radius: 20px;
}
#diploma>img{
    position: relative;
    right: 12vw;
    top: 7vh;
}
#certificate{
    position: absolute;
    top: 108vh;
    left: 25vw;
    background: #ffffff;
    width: 20vw;
    text-align: center;
    border-radius: 20px;
}
#certificate>img{
    position: relative;
    left: 10vw;
    top: 7vh;
}
#a\/l{
    position: absolute;
    top: 145vh;
    left: 60vw;
    background: #ffffff;
    width: 20vw;
    text-align: center;
    border-radius: 20px;
}
#a\/l>img{
    position: relative;
    right: 10vw;
    top: 7vh;
}
@media all and (max-width: 768px) and (min-width: 425px) {
    #resume>h3{
        position: absolute;
        top: 10vh;
        left: 35vw;

    }
    #degree{
        position: absolute;
        top: 30vh;
        left: 8vw;
        width: 73vw;
        height: 20vh;
    }
    #degree>img{
        position: relative;
        left: 35vw;
        top: 0;
    }

    #certificate{
        position: absolute;
        top: 90vh;
        left: 8vw;
        width: 73vw;
        height: 20vh;
    }
    #certificate>img{
        position: relative;
        left: 35vw;
        top: 0;
    }
    #diploma{
        position: absolute;
        top: 60vh;
        left: 18vw;
        width: 73vw;
        height: 20vh;
    }
    #diploma>img{
        position: relative;
        right: 35vw;
        top: 0;
    }
    #a\/l{
        position: absolute;
        top: 120vh;
        left: 18vw;
        background: #ffffff;
        width: 73vw;
        height: 20vh;
    }
    #a\/l>img{
        position: relative;
        right: 35vw;
        top: 0;
    }
}