#skills{
    position: relative;
    padding-top: 0;
    background: #FEFBF5;
    height: 100vh;
    padding-bottom: 20vh;
}
#certificate_lang>div:nth-child(2){
    top: 35vh;
    left: 30vw;
}
#certificate_lang>div:last-child{
    top: 35vh;
    left: 50vw;
}
.card1 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1 img {
    width: 300px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

.card1:hover svg {
    scale: 0;
    transform: rotate(-45deg);
}
.card1>div>a{
    text-decoration: none;
    color: dimgray;
    font-size: 12px;
}
#skills2>img:hover{
    width: 80px;
    transition: 0.5s ease;
}
#skills2{
    background:#ECFFDD;
    position: absolute;
}
#skills>h3{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: #302929;
}
@media all and (min-width: 1440px){

    #skills2{
        top: 90vh;
        width: 100vw;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    #skills2>img{
        margin: 2vw;
    }
    #skills2>img:hover{
        width: 80px;
        transition: 0.5s ease;
    }
    #skills>h3{
        top: 18vh;
        left: 45vw;
        font-size: 22px;
    }
    #square_pattern{
        position: absolute;
        top: 13vh;
        left: 25vw;
    }
    .card1 {
        position: absolute;
        top: 39vh;
        left: 10vw;
        width: 300px;
        height: 200px;
    }

}
@media all and (max-width: 1440px){

    #skills2{
        top: 90vh;
        width: 100vw;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    #skills2>img{
        margin: 2vw;
    }

    #skills>h3{
        top: 18vh;
        left: 45vw;
        font-size: 22px;
    }
    #square_pattern{
        position: absolute;
        top: 13vh;
        left: 20vw;
    }
    .card1 {
        position: absolute;
        top: 39vh;
        left: 10vw;
        width: 300px;
        height: 200px;
    }

}
@media all and (max-width: 1024px){
    #skills2{
        top: 90vh;
        width: 100vw;
        height: 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #skills2>img{
        margin: 1vw;
    }
    #skills>h3{
        top: 18vh;
        left: 42vw;
        font-size: 20px;
    }
    #square_pattern{
        position: absolute;
        top: 20vh;
        left: 4vw;
    }
    .card1 {
        position: absolute;
        top: 39vh;
        left: 10vw;
        width: 300px;
        height: 200px;
    }


}
@media all and (max-width: 768px){

    #square_pattern{
        position: absolute;
        top: 9vh;
        left: 3vw;
    }
    #skills>h3{
        top: 10vh;
        left: 35vw;
        font-size: 18px;
    }
    .card1 {
        position: absolute;
        top: 35vh;
        left: 19vw;
        width: 270px;
        height: 180px;
    }
    #skills2{
        top: 90vh;
        display: block;
        height: 550px;
        margin: 20px;
        width: 400px;
        border-radius: 50px;
        left: 20vw;
    }
    #skills{
        padding-bottom: 100vh;
    }
    #skills2>img{
        padding-top: 95px;
        margin: 10px;
    }

}
@media all and (max-width: 425px){

    #square_pattern{
        position: absolute;
        top: 10vh;
        left: 6vw;
    }
    #skills>h3{
        top: 10vh;
        left: 31vw;
        font-size: 17px;
    }
    .card1 {
        position: absolute;
        top: 35vh;
        left: 19vw;
        width: 270px;
        height: 180px;
    }
    #skills2{
        top: 100vh;
        display: block;
        height: 600px;
        margin: 10px;
        border-radius: 50px;
        width: 320px;
        left: 45px;

    }
    #skills{
        padding-bottom: 100vh;
    }
    #skills2>img{
        padding-top: 95px;
        margin: 10px;
    }

}
@media all and (max-width: 375px){

    #square_pattern{
        position: absolute;
        top: 9vh;
        left: -2vw;
    }
    #skills>h3{
        top: 10vh;
        left: 30vw;
        font-size: 16px;
    }
    .card1 {
        position: absolute;
        top: 35vh;
        left: 15vw;
        width: 270px;
        height: 180px;
    }
    #skills2{
        top: 90vh;
        display: block;
        height: 600px;
        margin: 10px;
        border-radius: 50px;
        left: 15px;
        width: 330px;
    }
    #skills{
        padding-bottom: 100vh;
    }
    #skills2>img{
        padding-top: 95px;
        margin: 10px;
    }

}
@media all and (max-width: 320px){

    #square_pattern{
        position: absolute;
        top: 9vh;
        left: -18vw;
    }
    #skills>h3{
        top: 10vh;
        left: 27vw;
        font-size: 15px;
    }
    .card1 {
        position: absolute;
        top: 35vh;
        left: 8vw;
        width: 260px;
        height: 175px;
    }
    #skills2{
        top: 90vh;
        display: block;
        height: 700px;
        margin: 50px;
        border-radius: 50px;
        width: 250px;
        left: -15px;
    }
    #skills{
        padding-bottom: 100vh;
    }
    #skills2>img{
        padding-top: 70px;
        margin: 10px;
    }
    #skills{
        padding-bottom: 150vh;
    }
}